<html>
<body>
<table>
    <tr>
        <td style="width:50px; height:80px"><img src="static/ufab.png" width="80%"></td>
        <td style="width:250px" valign="bottom"><h1>uFab Kernel</h1></td>
    </tr>
</table>


<form action="upload" method="POST" enctype="multipart/form-data">
    <br>Material:
    <select name="material">
        <option value="N">Aluminum N1.2.Z.AG</option>
        <option value="H">Tool Steel H1.1.Z.HA</option>
        <option value="K">Cast Iron K3.2.C.UT</option>
        <option value="M">Stainless Steel M1.0.Z.AQ</option>
        <option value="P">Steel P1.1.Z.AN</option>
    </select>
    <br><br>
    Query:
    <select name="query">
        <option value="json">JSON</option>
        <option value="toolguide">ToolGuide</option>
    </select>
    <br><br>
    STEP File:&nbsp;
    <input type="file" name="file"/><br>
    <input type="hidden" name="command" value="preview" />
    <br>
    <input type="submit" value="Run planner"/>
</form>
</body>
</html>